
.App{
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: center;
  margin: 200px 0 20px;

  form{
    input{
      width: 300px;
    }
    button{

    }
  }
}


.todo-list{
  width: 600px;
  margin: 0 auto;
}

.todo{
  border: 1px solid darkslategray;
  height: 30px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  padding: 8px;

  h3{
    margin-left: 16px;
  }

  .completed{
    text-decoration: line-through;
  }
}